* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

img{
    background-color: transparent;
}

body {
    background: linear-gradient(135deg, #d4d7ff, #f0d9ff);
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #e8eaf6; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(26, 35, 126, 0.25);
}

header img { 
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

header img:hover {
    transform: scale(1.05);
}


nav {
    background-color: #1a237e;
    padding: 12px 0;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding: 0;
    margin: 0;
}


nav ul li a {
    color: white;
    background-color: #3949ab;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s ease;
}


nav ul li a:hover {
    background-color: #5c6bc0;
    transform: translateY(-2px);
}

#entregable {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}


article {
    flex: 2;
    background-color: #f0e9ff; 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(57, 73, 171, 0.25);
}

article img {
    width: 100%;
    max-width: 600px;
    border-radius: 6px;
}

article ul,
article ol,
article dl {
    padding: 10px;
    margin: 18px;
}

article table {
    background-color: #f5f0ff;
    border: 2px solid #7e57c2;
    width: 100%;
    border-collapse: collapse;
}

article table th,
article table td {
    border: 1px solid #7e57c2;
    padding: 8px;
}


aside {
    flex: 1;
    background-color: #e0d7ff; 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(26, 35, 126, 0.25);
}


footer {
    text-align: center;
    padding: 15px;
    background-color: #4a4fc1; 
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}

footer a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: 0.3s ease;
}

footer a:hover {
    color: #ffeb3b;
}
article h3 {
    margin-bottom: 10px;
}

article ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

article ul li {
    margin-bottom: 6px;
}

article ul li a {
    display: inline-block;
    background: #2c3e50;
    padding: 6px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.2s;
}

article ul li a:hover {
    background: #1abc9c;
}