body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

header img {
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    color: white;
    background: #0077ff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: #0057c4;
}

h2 {
    margin-top: 30px;
}